body{
  background: #eee; 
  margin:0;
  font-family:'Open Sans', arial;
}
h1{

  padding:40px;
 font-weight: 500; 
  margin:0px;
}
#sitetitle{
  font-size:30px;
  padding: 0 20px 50px 0;
  font-weight:300
  
}
section{padding:0 40px;}
nav{
  position:fixed;
  width:160px; 
   background:#ddd;
  top:0;
  bottom:0;
  padding:20px;
}
nav ul{
  margin: 0; 
  padding:0;
}
nav ul li{
  display:block;
  margin: 10px 0;
}
nav ul li a{
  background: #aaa;
  display: block;
  padding: 10px;
  text-decoration: none;
  color:white;
  border-radius: 5px;
font-size:14px
}
nav ul li a i{
 margin-right:10px;
  font-size:20px !important;
  
}
nav ul li a:hover{
  background:#333;
}
#main{
  margin-left:200px;
}
#chem:hover, #chem.active{
  background:green;
}
#math:hover{
  background:blue;
}
#cs:hover{
  background:red;
}
#ee:hover{
  background:purple;
}
.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  Text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}


#ebox {
  margin: 1px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}
#shadowbox{
  position:fixed; 
  top:50%;
  left:50%;
  padding:20px;
  background: white; 
  display:none;
}
#overlay{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0,0,0,0.8);
  display: none;
}
.am {
  background: orange
}
.aem {
  background: yellow
}
.sm {
  background: lightgreen
}
.tm {
  background: pink
}
.nm{
  background:lightblue;
}
.h {
  background: purple
}
.ng {
  background: indigo
}
.bm {
  background: green
}
.card{
  width:100px;
  height:100px;
  top:0;
  bottom:0;
  line-height:100px;
 vertcial-align:top;
  background:green;
  position:relative;
  display:inline-block;
  margin:1px;
  border-bottom: 5px solid grey;
  border-right:5px solid grey;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  font-family: 'Open Sans', ariel;
  font-weight: 700;
  color: lightgreen;
}
.card:hover{
  background-color: lightgreen;
  color:green;

 -webkit-transform: rotate(-7deg);
 -moz-transform: rotate(-7deg);
 -o-transform: rotate(-7deg);


}
.card span{
    position:absolute;
  left:0;
  width:100%;
  text-align: center;
  right:0;
}
.card.hidden span {
 display:none;
  }
.card.disabled{
  background:lightblue;
  color:black;
}
#matching{
  width:515px;
  margin:0 auto;
}
