/* --------------mapTableStyle---------------- */

table.maptable {
    font-family: courier;
    border-collapse: collapse;
    border: 1px solid black;
    width:50%;
    float:right;
	
}
th.maptable {
	font-family: consolas;
	border: 1px solid black;
	padding: 1px;
    text-align: center;
}
td.maptable {
	font-size:120%;
	font-family: consolas;
	border: 1px solid black;
	padding: 3px;
    text-align: center;
}

.maptable tr:hover{background-color: #ddd;}

.maptable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* --------------endofMapTableStyle---------------- */

 /* --------------tabStyle---------------- */
 
 /* Style the list */
 ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #EAEAEA 	;
}

/* Float the list items side by side */
ul.tab li {float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
/*	border: 1px solid #ccc; */
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #E2D5E6;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Style for the key table*/
table.keytable {
	font-family: consolas;
   /*border-collapse: collapse;
    border: 1px solid black;*/
    padding: 3px;
    border: 1px solid black;
    align:right;
}
